@keyframes cdp-in {
  from {
    transform: scale(1.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* .pagination {
  display: flex;
  align-items: center;
  height: 50px;
}

.pagination__list {
  margin: 0;
  padding-left: 0;
}

.pagination__item {
  display: inline;
  margin: 0 4px;
  padding: initial;
  list-style-type: none;
}

.pagination__link {
  padding: 8px 16px;
  color: #000;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
} */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.pagination {
  padding-top: 1em;
  border-top: 1px solid #eee;
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.pagination__item {
  width: 38px;
  height: 32px;
}


.pagination__link {
  display: block;
  margin: 0 3px;
  padding: 0 6px;
  width: 32px;
  height: 32px;
  color: #000;
  font-size: 0.875em;
  border-radius: 4px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.pagination__link:hover {
  background-color: rgba(0, 0, 0, 0.04)
}

.pagination__dots {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 3px;
  padding: 0 6px;
  width: 32px;
  height: 24px;
  color: #000;
  font-size: 0.875em;
  border-radius: 4px;
}

.selected {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
}

.selected:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.disabled {
  opacity: 0.25;
  cursor: default
}