.introduction {
  padding: 1.5em 1em 0.1em;
}

.introduction__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.introduction__slogan {
  margin-top: 1em;
  margin-bottom: 2em;
}

.introduction__slogan,
.about__title {
  text-align: center;
  font-weight: 600;
}

.introduction__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  padding: 1.5em;
  width: 80%;
  text-align: center;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 700;
  color: #fff;
  background-color: #ff5c35;
  border-radius: 1em;
}

.introduction__buttonOutlined {
  margin-bottom: 1em;
  color: #ff5c35;
  background-color: #fff;
  border: 2px solid #ff5c35;
}

.about {
  padding: 2em 1em;
  margin-bottom: 1em;
}

.about__title {
  margin-top: 0;
  margin-bottom: 2em;
}

.about__text {
  font-weight: 500;
}

.about__text > a {
  color: #428bca;
  text-decoration: none;
}

.about__text > a:hover,
.about__text > a:focus {
  color: #2a6496;
  text-decoration: underline;
}
