.introduction {
  padding: 24px 16px 1px;
}

.introduction__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.introduction__slogan {
  margin-bottom: 48px;
}

.introduction__slogan,
.about__title {
  text-align: center;
  font-weight: 600;
}

.introduction__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1em auto;
  width: 80%;
  height: 48px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #ff5c35;
  border-radius: 12px;
}

.introduction__buttonOutlined {
  margin-bottom: 40px;
  color: #ff5c35;
  background-color: #fff;
  border: 2px solid #ff5c35;
}

.about {
  padding: 40px 16px;
  margin-bottom: 16px;
}

.about__title {
  margin-top: 0;
}

.about__text {
  font-weight: 500;
}

.about__text > a {
  color: #428bca;
  text-decoration: none;
}

.about__text > a:hover,
.about__text > a:focus {
  color: #2a6496;
  text-decoration: underline;
}