.main {
  padding: 2.5em 1em 3em;
}

.main > div {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
}

.overview__img {
  margin-bottom: 1.5em;
  text-align: center;
}

.overview__img img {
  width: 80%;
  max-width: 590px;
  border-radius: 0.75em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.overview__info,
.codes__info,
.geography__info {
  border-radius: 8px;
  box-shadow: rgba(219, 208, 214, 0.32) 2px 2px 8px 2px;
  margin-bottom: 40px;
}

.overview__title,
.codes__title,
.geography__title {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-weight: 500;
}

.overview__title,
.overview__info > div,
.codes__title,
.codes__info > div,
.geography__title,
.geography__info > div {
  border-bottom: 1.5px solid #ff5c35;
}

.overview__info > div,
.codes__info > div,
.geography__info > div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
}

.overview__info > div:last-child,
.codes__info > div:last-child,
.geography__info > div:last-child {
  border-bottom: none;
}

.overview__info > div div:last-child,
.codes__info > div div:last-child,
.geography__info > div div:last-child {
  color: #ff5c35;
  font-weight: 700;
}

.geography__info {
  margin-bottom: 0;
}
