.card {
  background-color: #eee;
  padding: 0px;
  text-decoration: none;
  color: #000;
  border-radius: 0.25em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cardImage {
  height: 150px;
  overflow: hidden;
}

.cardImage img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 1em 1em 3em;
}

.cardName {
  margin-top: 0;
  margin-bottom: 0.4em;
  font-size: 1.25em;
  font-weight: 600;
}

.cardCapital {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.875em;
  font-weight: 400;
}