.main {
  padding: 2.5em 1em 2em;
}

.main__title {
  margin-top: 0;
  margin-bottom: 0.8em;
  font-size: 1.75em;
  font-weight: 500;
}

.main__wrapper {
  max-width: 1140px;
}

.main__searchInput {
  margin-top: 0;
  margin-bottom: 3em;
  padding-left: 1em;
  width: 100%;
  height: 3.428em;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main__searchInput:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.main__searchInput:focus {
  border: 2px solid #ff5c35;
  outline: none; /* override the browser's default focus behaviour */
}

.main__countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 24px 8px;
}
