.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(33, 51, 67, 0.12);
}
