.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(33, 51, 67, 0.12);
}
<<<<<<< HEAD
=======

.header .title {
  font-family: 'Caveat', cursive;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 0;
}

.title a {
  color: #ff5c35;
  text-decoration: none;
}
>>>>>>> c31e1f280417381e6682f80b91549edfdedd9bd2
