.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(33, 51, 67, 0.12);
  z-index: 100;
}

.menuOpen {
  overflow: hidden;
}
