.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.container > div {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #2e475d;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.container div:first-child {
  top: 0;
}

.container div:nth-child(2) {
  width: 75%;
}

.container div:last-child {
  bottom: 0;
}

/* adjust percentage accordingly */
.open div:first-child {
  top: calc(30px - 55%);
  transform: rotate(-45deg);
}

/* adjust percentage accordingly */
.open div:last-child {
  bottom: calc(30px - 62.5%);
  transform: rotate(45deg);
}

.open div:nth-child(2) {
  width: 0;
}
