.breadcrumb {
  margin-top: 0;
  margin-bottom: 1.75em;
  padding-left: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  font-size: 1em;
}

/* Add a chevron before/behind each list item */
.breadcrumb li + li:before {
  padding: 8px;
  color: rgba(0, 0, 0, 0.87);
  content: '\203A';
}

.breadcrumb li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}
